html, body {
    margin: 0;
}

.firstpage {
    position: relative;
    padding: 15px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/photo.jpg');
    background-position: center, top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-wrap {
    z-index: 99;
    position: sticky;
    top: 15px;
    left: 15px;
    margin-bottom: 20px;
}

.logo-wrap img {
    width: auto;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
}
.logo-wrap img:hover {
    width: auto;
    height: 3rem;
}

.name-wrap {
    text-align: center;
    color: white;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: -2%;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.title {
    font-size: 5rem;
    font-family: 'Lexend Deca', sans-serif;
}
.subtitle {
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}
@media (max-width: 390px) {
    .title {
        font-size: 3rem;
        font-family: 'Lexend Deca', sans-serif;
    }
    .subtitle {
        font-size: 1rem;
        font-family: 'Courgette', cursive;
    }
}
@media (max-width: 240px) {
    .title {
        font-size: 2rem;
        font-family: 'Lexend Deca', sans-serif;
    }
    .subtitle {
        font-size: 1rem;
        font-family: 'Courgette', cursive;
    }
}

.footer {
    padding-top: 1rem;
    background-color: #24292e;
    color: #fff;
}

.brands {
    height: 2rem;
    width: auto;
    transition: all 0.1s ease-in-out;
}
.brands:hover {
    transform: scale(1.4);
}
.brands path {
    fill: rgb(255, 255, 255);
}

.footer a {
    color: #fff;
    text-decoration:none;
}

.footer-hr {
    border-top: 1px solid #eee;
}

.copyright {
    color: rgb(167, 167, 167);
}

.firstpage__arrow {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.arrow__down {
    width: 2rem;
    height: 2rem;
    border-top: 0.30rem solid rgba(255, 255, 255, 0.7);
    border-right: 0.30rem solid rgba(255, 255, 255, 0.7);
    transform: rotate(135deg);
}
.arrow__down:hover {
    border-top: 0.30rem solid rgba(255, 255, 255, 1);
    border-right: 0.30rem solid rgba(255, 255, 255, 1);
}
.content__item {
    background-color: #f0f0f0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.content__item:nth-child(odd) {
    background-color: #fff;
}

.about__img {
    width: auto;
    height: 15rem;
}

.about__antilast {
    width: auto;
}

.services__img {
    height: 10rem;
    width: auto;
}

.services__zabiv {
    height: 400px;
}

@media (max-width: 500px) {
    .about__img {
        width: 100%;
        height: auto;
    }

    .about__antilast {
        width: 100%;
    }
    
    .services__img {
        height: auto;
        width: 95%;
    }
    
    .services__zabiv {
        width: 100%;
        height: auto;
    }


    
}

.list__items {
    width: 50%;
}
.list__img {
    width: 50%;
}
.list__img img {
    width: 100%;
    height: auto;
}
@media (max-width: 500px) {
    .list__items {
        width: 100%;
    }
    .list__img {
        display: none;
    }
    .list__img img {
        display: none;
    }
}