html, body {
    margin: 0;
}

.firstpage {
    padding: 15px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/photo.png');
    background-position: center, top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-wrap {
    z-index: 99;
    position: sticky;
    top: 15px;
    left: 15px;
    margin-bottom: 20px;
}
.logo-wrap img {
    width: auto;
    height: 2.5rem;
}
.name-wrap {
    text-align: center;
    color: white;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: -5%;
}
.title {
    font-size: 5rem;
    font-family: 'Lexend Deca', sans-serif;
}
.subtitle {
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}