#return-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top .arrow-up {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover, .to-top-hover {
    background: rgba(0, 0, 0, 0.9) !important;
}
#return-to-top:hover .arrow-up, .to-top-hover .arrow-up {
    transform: scale(1.3) translateY(-10%);

}
#return-to-top:hover .arrow-up path,  .to-top-hover .arrow-up path{
    fill: #fff;
}